.header {
  display: grid;
  grid-template-columns: 1fr 148px 1fr;
  align-items: center;
  padding-inline: 50px;
  padding-block: 92px 83px;
  font-size: 18px;
}

.header__menu-list {
  display: flex;
  column-gap: 32px;
  list-style: circle;
}

.header__menu-item:first-child {
  list-style: none;
}

.active {
  text-decoration: none;
}

.header__logo {
  max-width: 148px;
}

.info {
  justify-self: end;
  max-width: 240px;
  line-height: 135%;
}

.hero {
  position: relative;
  z-index: 0;
  padding-top: 165px;
  padding-bottom: 50px;
  padding-inline: 50px;
  color: white;
  text-transform: uppercase;
  background-image: url('../images/cover.jpg');
  background-size: cover;
  background-position-x: center;
}

.overlay {
  position: absolute;
  inset: 0;
  z-index: -1;
  background-color: rgba(0, 0, 0, 0.6);
}

.hero__title {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  margin-bottom: 106px;
}

.center {
  align-self: center;
}

.end {
  align-self: end;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.hero__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 22px;
}

.hero__description-text {
  line-height: 127%;
  word-spacing: 0.85em;
}

.hero__description-button {
  border: 1px solid #fff;
  padding: 12px 32px;
  color: inherit;
  text-transform: uppercase;
  background: transparent;
}

.lots {
  padding-inline: 24px;
  padding-block: 180px 120px;
}

.lots__title {
  margin-bottom: 27px;
  margin-left: 40px;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  list-style: none;
}

.lots__card-item {
  width: 334px;
  min-height: 596px;
}

.lots__card-link {
  height: 100%;
  text-decoration: none;
}

.card {
  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 48px 40px;
  color: #fff;
  background-position: center;  
  background-size: cover;
}

.card_type_film {
  background-image: url('../images/card-lot-01.jpg');
}

.card_type_book {
  background-image: url('../images/card-lot-02.jpg');
}

.card_type_picture {
  background-image: url('../images/card-lot-03.jpg');
}

.card__title {
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  text-decoration: underline;
  text-transform: uppercase;
}

.card__description {
  font-size: 20px;
  line-height: 120%;
}

.lots__look-more-link {
  display: inline-block;
  margin-top: 30px;
  margin-left: 40px;
  font-size: 20px;
}

.about {
  display: grid;
  grid-template-columns: 334px 1fr;
  padding-bottom: 180px;
  padding-inline: 24px;
}

.about__logo {
  display: flex;
  justify-self: center;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  margin-top: 35px;
  border-radius: 50%;
  background: #000;
}

.abaut__img {
  max-width: 148px;
}
.about__content {
  margin-top: 133px;
  margin-left: 25px;
}

.about__title {
  margin-bottom: 100px;
}
.about__description {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  font-size: 20px;
  line-height: 120%;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding-bottom: 82px;
  padding-inline: 50px;
  font-size: 18px;
}

.footer__menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
}

.footer__soc1als-list {
  display: flex;
  column-gap: 48px;
  list-style: none;
}

.footer__soc1als-item {
  width: 48px;
}